*{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    z-index: -1;
    padding: 2%;
}
#form_container
{
    background-color: aliceblue;
    border-radius: 5%;
    box-shadow: 0 0 30px rgb(173, 171, 171);
    padding: 5%;
}
